.container{
    border-radius: 2%;
   
   color: white;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;

}
body,html{
    background-image: url(../../../assets/38559de45f1784e2a4310747c631b19b.gif);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 25.6%;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
tr{
    background-color: deepskyblue;
}
th{
    background-color: midnightblue;
    color: mintcream;
    text-align: center;
}